extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/') Home
  br
  br
  .container
    each val in user
      .row
        a(class="userLink", href="/users")= val.user
      
      
      
block script
  script(src="../javascripts/userMain.js")
