extends layout

block content
  h1= title
  input(id='inputer', type='text', placeholder='User Name', required)
  input(id='email', type='email', placeholder='Email')
  input(id='phone', type='text', placeholder='Phone')
  br
  button(id='makeUser') Add User
  br
  a(href='/users') User Page

block script
  script(src="../javascripts/main.js")
