extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/') Home
  br
  br
  .container
    each val in user
      .row
        a(href="/users" class="userLink")= val.user
      br
      
      
